<%= link_to 'Add a new article', new_article_path(@article) %>

<ul>
<% @articles.each do |article| %>
    <li class = main-li> <%=  link_to article.title, article_path(article) %> </li>
    <li><%= article.content %></li>

  <% end %>
</ul>
